* {
  box-sizing: border-box;
  margin: 0;
}

html {
  background-color: rgb(255, 255, 255);
  min-height: 100%;
}

.container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
}

.viewPort {
  width: 90%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
}
